export(edgelisttomatrix, as.conflictmat)
export(findIDpaths, findAllPaths)
export(conductance)
export(valueConverter, dyadicLongConverter, individualWinProb)
export(countPaths)
export(plotConfmat)
export(transitivity)
export(simRankOrder)
export(bradleyTerry)
export(bt.test)
export(plotProbDiagnosis)