export(edgelisttomatrix, as.conflictmat)
export(findIDpaths, findAllPaths)
export(conductance)
export(valueConverter, dyadicLongConverter, individualWinProb)
export(countPaths)
export(plot.conf.mat)
export(transitivity)
export(sim.rank.order)
export(bradleyTerry)
export(bt.test)
